body {
  margin: 0;
  padding: 60px 0 0 0;
}

nav {
  background-color: #f4f5f6;
  height: 5.2rem;
  display: block;
  width: 100%;
  border-bottom: .1rem solid #d1d1d1;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
}

.navbar > a {
  display: inline;
  line-height: 5.2rem;
}

.navbar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar > ul > li {
  float: left;
  position: relative;
  margin-left: 2.5rem;
  margin-bottom: 0;
}

.navbar > ul > li > a {
  display: inline;
  line-height: 5.2rem;
}

.info > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info > ul > li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: .5rem;
}

.info:after {
  clear: left;
  content: " ";
  display: block;
}
